body{
    font-family: Garamond, serif; 
    margin: 0px;
    font-size: 18px;
    cursor: url(cursor.png), pointer;
    color: blue;

}

.header{
    text-align: center; 
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
}

h1{
    margin: 0px;
    font-size: 60px;
    color: blue;